@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
html {
  scroll-behavior: smooth
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
.page {
  background-color: #fff
}
._container {
  padding: 0 20px
}
.header-main {
  margin-bottom: 30px;
  position: relative;
  background: url(../img/header.jpg) center/cover no-repeat
}
.header-main::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,rgba(0,0,0,.82) 0,rgba(0,0,0,0) 100%)
}
.header-title {
  position: relative;
  z-index: 3;
  padding: 10px 0 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff
}
.header-title span {
  font-size: 30px
}
.header-title div {
  font-size: 56px;
  font-weight: 700;
  text-transform: uppercase
}
.header {
  position: relative;
  z-index: 30;
  padding: 25px 0;
  transition: all .5s ease
}
.header.active {
  background-color: #000
}
.header__body {
  display: flex;
  flex-direction: column;
  gap: 20px
}
.header__top {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header__column-left {
  display: flex;
  align-items: center;
  gap: 30px
}
.header__burger {
  position: relative;
  flex: 0 0 40px;
  width: 40px;
  height: 24px
}
.active .header__burger span:nth-child(2) {
  opacity: 0;
  visibility: hidden
}
.active .header__burger span:first-child {
  top: calc(50% - 1.5px);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.active .header__burger span:last-child {
  bottom: calc(50% - 1.5px);
  width: 100%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.header__burger span {
  position: absolute;
  left: 0;
  display: block;
  height: 3px;
  background-color: #27a800;
  border-radius: 25px;
  transition: all .5s ease
}
.header__burger span:first-child {
  top: 0;
  width: 100%
}
.header__burger span:nth-child(2) {
  top: calc(50% - 1.5px);
  width: 27px
}
.header__burger span:last-child {
  bottom: 0;
  width: 15px
}
.header__logo {
  position: absolute;
  top: 0;
  left: calc(50% - 30px);
  height: 60px;
  width: 60px
}
.header__logo svg {
  width: 100%;
  height: 100%;
  fill: #27a800;
  transition: fill .5s ease
}
.header__nav {
  display: none
}
.header__column-right {
  display: flex;
  align-items: center;
  gap: 20px
}
.header__socials {
  display: flex;
  gap: 10px
}
.header__social {
  height: 24px
}
.header__social svg {
  height: 100%;
  fill: #27a800;
  transition: all .5s ease
}
.header__lang {
  font-size: 16px;
  text-transform: uppercase;
  color: #27a800;
  cursor: pointer;
  transition: color .5s ease
}
.header__phones {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 25px
}
.header__phone {
  display: flex;
  align-items: center;
  gap: 7px
}
.header__phone svg {
  width: 19px;
  height: 19px;
  fill: #27a800;
  transition: fill .5s ease
}
.header__phone span {
  font-size: 14px;
  white-space: nowrap;
  color: #27a800;
  transition: color .5s ease
}
.menu {
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #000;
  overflow-y: auto;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all .5s ease
}
.menu.active {
  -webkit-transform: scale(1);
  transform: scale(1)
}
.menu__item {
  font-size: 26px;
  text-align: center;
  color: #27a800
}
.menu__item summary {
  list-style: none
}
.menu__item summary::-webkit-details-marker {
  display: none
}
.menu__title {
  font-size: 26px;
  text-align: center;
  color: #27a800
}
.menu__title._spoller-active {
  font-weight: 700;
  color: #caffbb
}
.menu__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0 0
}
.menu__body-item {
  font-size: 22px;
  text-align: center;
  color: #fff
}
.menu__body-item.active {
  font-weight: 700
}
.footer {
  margin-top: 30px;
  padding: 45px 0;
  background-color: #000
}
.footer__top {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px
}
.footer__logo {
  margin-bottom: 15px;
  width: 64px;
  height: 64px
}
.footer__logo svg {
  width: 100%;
  height: 100%;
  fill: #27a800;
  transition: fill .5s ease
}
.footer__phones {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 25px
}
.footer__phone {
  display: flex;
  align-items: center;
  gap: 7px
}
.footer__phone svg {
  width: 19px;
  height: 19px;
  fill: #27a800;
  transition: fill .5s ease
}
.footer__phone span {
  font-size: 14px;
  white-space: nowrap;
  color: #27a800;
  transition: color .5s ease
}
.footer__socials {
  display: flex;
  gap: 25px
}
.footer__social {
  height: 24px
}
.footer__social svg {
  height: 100%;
  fill: #27a800;
  transition: all .5s ease
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px
}
.footer__copyright {
  color: #27a800
}
.footer__author {
  color: #27a800;
  transition: color .5s ease
}
.category {
  padding: 30px 0
}
.category__title {
  margin-bottom: 45px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #27a800
}
.category__body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px
}
.category__item {
  flex: 0 0 calc(50% - 5px);
  width: calc(50% - 5px);
  display: flex;
  flex-direction: column;
  background-color: #efffeb;
  box-shadow: 0 0 18px rgba(0,0,0,.1);
  border-radius: 8px
}
.category__item-title {
  flex: 1 1 auto;
  padding: 30px 10px;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #0f0f0f;
  transition: color .5s ease
}
.category__item-image {
  position: relative;
  padding-top: 80%;
  border-radius: 8px;
  overflow: hidden
}
.category__item-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -o-object-fit: cover;
  object-fit: cover;
  transition: all .5s ease
}
.info {
  padding: 30px 0 10px
}
.info__title {
  margin-bottom: 45px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #27a800
}
.info__body {
  line-height: 150%
}
.info__body h1,
.info__body h2,
.info__body h3,
.info__body h4,
.info__body h5,
.info__body h6 {
  margin-bottom: 30px;
  font-weight: 700;
  line-height: 120%
}
.info__body h1 {
  font-size: 40px
}
.info__body h2 {
  font-size: 35px
}
.info__body h3 {
  font-size: 30px
}
.info__body h4 {
  font-size: 22px
}
.info__body h5 {
  font-size: 20px
}
.info__body h6 {
  font-size: 18px
}
.info__table {
  margin-bottom: 30px;
  overflow-x: auto;
  padding-bottom: 5px
}
.info img {
  margin-bottom: 30px;
  display: inline-block;
  width: 100%
}
.info p {
  margin-bottom: 30px
}
.info a {
  color: #27a800;
  transition: color .5s ease
}
.info blockquote {
  margin-bottom: 30px;
  padding: 20px;
  color: #fff;
  background-color: #27a800;
  border-radius: 16px
}
.info ol,
.info ul {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px
}
.info ol li,
.info ul li {
  list-style-position: inside
}
.info ul li {
  list-style-type: disc
}
.info table {
  min-width: 100%;
  border-collapse: collapse
}
.info table td,
.info table th {
  padding: 12px 15px;
  min-width: 270px
}
.info table th {
  text-align: left;
  color: #fff;
  background-color: #27a800;
  border-left: 1px solid #fff
}
.info table th:first-child {
  border-radius: 8px 0 0 0
}
.info table th:last-child {
  border-radius: 0 8px 0 0
}
.info table td {
  border: 1px solid #000
}
.info table tr:nth-child(2) td {
  border-top: none
}
.question {
  padding: 30px 0
}
.question__title {
  margin-bottom: 45px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #27a800
}
.question__body {
  margin: 0 auto;
  max-width: 800px;
  border: 1px solid #c7c7c7;
  border-radius: 16px;
  overflow: hidden
}
.question__item {
  border-bottom: 1px solid #c7c7c7
}
.question__item:last-child {
  border-bottom: none
}
.question__item-title {
  position: relative;
  padding: 15px 30px 15px 20px;
  list-style: none;
  background-color: #f7f7f7;
  line-height: 150%;
  cursor: pointer;
  transition: all .5s ease
}
.question__item-title._spoller-active {
  background-color: rgba(0,0,0,0)
}
.question__item-title._spoller-active::after {
  background-color: rgba(0,0,0,0)
}
.question__item-title::-webkit-details-marker {
  display: none
}
.question__item-title::after,
.question__item-title::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 27px;
  width: 10px;
  height: 2px;
  background-color: #000;
  transition: all .5s ease
}
.question__item-title::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
.question__item-body {
  padding: 0 20px 15px;
  font-size: 14px;
  line-height: 150%;
  color: #959595
}
.breadcrumbs {
  position: relative;
  z-index: 3;
  padding: 5px 0 25px
}
.breadcrumbs__list {
  display: flex;
  justify-content: center;
  gap: 15px
}
.breadcrumbs__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 120%;
  color: #92d082
}
.breadcrumbs__item.link {
  position: relative;
  color: #e0e0e0;
  transition: color .5s ease
}
.breadcrumbs__item.link::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: -10px;
  width: 4px;
  height: 4px;
  background-color: #e0e0e0;
  border-radius: 4px
}
.product {
  padding: 30px 0
}
.product__title {
  margin-bottom: 45px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #27a800
}
.product__image {
  width: 100%
}
.contacts {
  padding: 30px 0
}
.contacts__title {
  margin-bottom: 45px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #27a800
}
.contacts__form {
  margin: 0 auto 60px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px
}
.contacts__form textarea {
  min-height: 120px
}
.contacts__input {
  padding: 15px 20px;
  width: 100%;
  background-color: #f7f7f7;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  outline: 0;
  transition: all .5s ease
}
.contacts__input::-webkit-input-placeholder {
  color: #000
}
.contacts__input:-ms-input-placeholder {
  color: #000
}
.contacts__input::-ms-input-placeholder {
  color: #000
}
.contacts__input::placeholder {
  color: #000
}
.contacts__button {
  position: relative;
  margin-top: 25px;
  padding: 25px 30px;
  display: flex;
  align-items: center;
  gap: 25px;
  background-color: #27a800;
  border: 1px solid #27a800;
  border-radius: 8px;
  transition: all .5s ease
}
.contacts__button input {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer
}
.contacts__button span {
  font-size: 16px;
  color: #fff;
  transition: color .5s ease
}
.contacts__button svg {
  width: 24px;
  height: 24px;
  stroke: #fff;
  transition: stroke .5s ease
}
.contacts__phones {
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 25px
}
.contacts__phone {
  display: flex;
  align-items: center;
  gap: 7px
}
.contacts__phone svg {
  width: 19px;
  height: 19px;
  fill: #27a800;
  transition: fill .5s ease
}
.contacts__phone span {
  font-size: 14px;
  white-space: nowrap;
  color: #27a800;
  transition: color .5s ease
}
.contacts__map {
  position: relative;
  height: 230px;
  overflow: hidden
}
.contacts__map iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
@media (min-width:61.99875em) {
  ._container {
    padding: 0;
    margin: 0 auto;
    width: 950px
  }
  .header-main {
    margin-bottom: 50px
  }
  .header-title {
    padding: 40px 0 180px
  }
  .header {
    padding: 40px 0
  }
  .header__top {
    height: auto;
    gap: 30px
  }
  .header__burger {
    display: none
  }
  .header__logo {
    position: static
  }
  .header__logo:hover svg {
    fill: #caffbb
  }
  .header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 15px
  }
  .header__nav-item {
    margin: -10px 0;
    padding: 20px 0;
    position: relative;
    cursor: pointer
  }
  .header__nav-item:hover span {
    display: inline-block;
    color: #caffbb
  }
  .header__nav-item:hover .header__submenu {
    opacity: 1;
    visibility: visible
  }
  .header__nav-item span {
    font-size: 18px;
    white-space: nowrap;
    color: #27a800;
    transition: all .5s ease
  }
  .header__submenu {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #27a800;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease
  }
  .header__submenu::before {
    content: "";
    position: absolute;
    left: 20px;
    top: -12px;
    width: 24px;
    height: 24px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #27a800
  }
  .header__submenu-item {
    font-size: 16px;
    color: #fff;
    transition: color .5s ease
  }
  .header__submenu-item.active {
    font-weight: 700;
    cursor: default
  }
  .header__submenu-item:hover:not(.active) {
    color: #caffbb
  }
  .header__social:hover svg {
    fill: #caffbb
  }
  .header__lang:hover {
    color: #caffbb
  }
  .header__phones {
    flex-direction: column;
    align-items: flex-start;
    gap: 7px
  }
  .header__phone:hover svg {
    fill: #caffbb
  }
  .header__phone:hover span {
    color: #caffbb
  }
  .header__phone span {
    font-size: 16px
  }
  .footer {
    margin-top: 50px;
    padding: 40px 0
  }
  .footer__top {
    margin-bottom: 45px;
    flex-direction: row;
    justify-content: space-between
  }
  .footer__logo:hover svg {
    fill: #caffbb
  }
  .footer__phone:hover svg {
    fill: #caffbb
  }
  .footer__phone:hover span {
    color: #caffbb
  }
  .footer__phone span {
    font-size: 16px
  }
  .footer__social:hover svg {
    fill: #caffbb
  }
  .footer__bottom {
    flex-direction: row;
    justify-content: space-between
  }
  .footer__author:hover {
    color: #caffbb
  }
  .category {
    padding: 50px 0
  }
  .category__title {
    font-size: 50px
  }
  .category__body {
    gap: 20px
  }
  .category__item {
    flex: 0 0 calc(25% - 15px);
    width: calc(25% - 15px)
  }
  .category__item-title:hover {
    color: #27a800
  }
  .category__item-title {
    padding: 45px 15px
  }
  .category__item-image {
    padding-top: 72%
  }
  .category__item-image:hover img {
    -webkit-transform: translate(-50%,-50%) scale(1.05);
    transform: translate(-50%,-50%) scale(1.05)
  }
  .info {
    padding: 50px 0 20px
  }
  .info__title {
    font-size: 50px
  }
  .info__body h1 {
    font-size: 50px
  }
  .info__body h2 {
    font-size: 40px
  }
  .info p {
    clear: both
  }
  .info a:hover {
    color: #caffbb
  }
  .info blockquote {
    float: inline-start
  }
  .question {
    padding: 50px 0
  }
  .question__title {
    font-size: 50px
  }
  .question__item-title:hover {
    color: #27a800
  }
  .question__item-title:hover::before {
    background-color: #27a800
  }
  .question__item-title:hover:not(._spoller-active)::after {
    background-color: #27a800
  }
  .question__item-body {
    padding: 0 50px 15px
  }
  .breadcrumbs {
    padding: 0 0 30px
  }
  .breadcrumbs__item.link:hover {
    color: #caffbb
  }
  .product {
    padding: 50px 0
  }
  .product__title {
    font-size: 50px
  }
  .contacts {
    padding: 50px 0
  }
  .contacts__title {
    font-size: 50px
  }
  .contacts__input:focus,
  .contacts__input:hover {
    border-color: #27a800
  }
  .contacts__button {
    margin-top: 15px
  }
  .contacts__button:hover {
    background-color: rgba(0,0,0,0)
  }
  .contacts__button:hover span {
    color: #27a800
  }
  .contacts__button:hover svg {
    stroke: #27a800
  }
  .contacts__phones {
    gap: 10px 55px
  }
  .contacts__phone {
    gap: 10px
  }
  .contacts__phone:hover svg {
    fill: #0f0f0f
  }
  .contacts__phone:hover span {
    color: #0f0f0f
  }
  .contacts__phone span {
    font-size: 22px;
    font-weight: 700
  }
  .contacts__map {
    height: 320px
  }
}
@media (min-width:79.99875em) {
  ._container {
    width: 1200px
  }
  .header__nav-item {
    margin: 0
  }
}